// color
$colorMain: rgba(1, 0, 0, 1);
$colorText: rgba(255, 255, 255, 1);
$colorTextTwo: rgba(112, 112, 112, 1);

// width
// $siteWidth: 390px;
// $siteWidthTable: 736px;
$siteWidthMobile: 390px;

// height

// fontSize

// font-family

// gap
// padding
